#mainNav {
    height: 50px;
    width: 100%;
    font-family: Arial;
    padding: 10px 15px;
}

#mainNav a {
    float: left;
    color: white;
    text-align: center;
    width: 80px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
 }
  
#mainNav a:hover {
   cursor: pointer;
}

#mainNav a.active {
    background-color: #4CAF50;
    color: white;
}
  
.topnav-right {
    float: right;
}