@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");
@import "~react-image-gallery/styles/css/image-gallery.css";

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1250px 1574px #fff, 1894px 1431px #fff, 747px 1430px #fff,
    1795px 754px #fff, 790px 1148px #fff, 1497px 910px #fff, 356px 1002px #fff,
    1754px 307px #fff, 135px 1086px #fff, 537px 1029px #fff, 1075px 1942px #fff,
    1466px 1041px #fff, 9px 623px #fff, 1317px 22px #fff, 667px 441px #fff,
    72px 1123px #fff, 823px 1465px #fff, 1152px 1824px #fff, 560px 1755px #fff,
    1569px 1388px #fff, 1171px 1194px #fff, 1691px 210px #fff, 771px 1010px #fff,
    1719px 1756px #fff, 1283px 646px #fff, 53px 1902px #fff, 871px 266px #fff,
    727px 1095px #fff, 961px 1799px #fff, 1389px 720px #fff, 265px 1385px #fff,
    469px 1360px #fff, 956px 268px #fff, 176px 953px #fff, 1017px 1071px #fff,
    398px 1383px #fff, 893px 277px #fff, 1627px 339px #fff, 1632px 746px #fff,
    1357px 1452px #fff, 1148px 1133px #fff, 1981px 1212px #fff,
    764px 1831px #fff, 1886px 2000px #fff, 409px 1262px #fff, 1884px 1517px #fff,
    1693px 566px #fff, 903px 1150px #fff, 886px 1813px #fff, 116px 1274px #fff,
    1760px 1752px #fff, 703px 1504px #fff, 1060px 1694px #fff, 977px 1648px #fff,
    533px 228px #fff, 1690px 673px #fff, 722px 1853px #fff, 203px 304px #fff,
    1286px 236px #fff, 883px 864px #fff, 119px 907px #fff, 1314px 677px #fff,
    193px 1722px #fff, 132px 1578px #fff, 1639px 1799px #fff, 990px 1103px #fff,
    153px 614px #fff, 1574px 721px #fff, 1397px 1943px #fff, 1936px 267px #fff,
    234px 258px #fff, 1575px 527px #fff, 1958px 1419px #fff, 301px 1981px #fff,
    1884px 348px #fff, 1128px 741px #fff, 1154px 1951px #fff, 1764px 1050px #fff,
    1999px 1711px #fff, 1542px 186px #fff, 1589px 755px #fff, 1436px 1022px #fff,
    1839px 1876px #fff, 1926px 447px #fff, 1694px 1418px #fff,
    1665px 1384px #fff, 190px 1572px #fff, 494px 1705px #fff, 1694px 1699px #fff,
    261px 1049px #fff, 1032px 1414px #fff, 162px 114px #fff, 1626px 780px #fff,
    1193px 1341px #fff, 1684px 653px #fff, 1475px 411px #fff, 730px 1478px #fff,
    1217px 1358px #fff, 1833px 1727px #fff, 324px 1231px #fff,
    1692px 1524px #fff, 911px 622px #fff, 1312px 1218px #fff, 333px 1194px #fff,
    1132px 241px #fff, 1283px 1061px #fff, 434px 526px #fff, 1672px 411px #fff,
    698px 1652px #fff, 982px 1226px #fff, 1991px 1024px #fff, 624px 1422px #fff,
    187px 1263px #fff, 163px 93px #fff, 592px 1122px #fff, 1545px 1831px #fff,
    1329px 1117px #fff, 160px 1221px #fff, 1651px 255px #fff, 1158px 222px #fff,
    112px 1601px #fff, 1921px 1711px #fff, 809px 272px #fff, 1130px 726px #fff,
    1523px 1041px #fff, 999px 442px #fff, 1660px 631px #fff, 190px 1113px #fff,
    1179px 1385px #fff, 1654px 1573px #fff, 1858px 965px #fff,
    1726px 1573px #fff, 606px 1953px #fff, 634px 1719px #fff, 845px 492px #fff,
    1935px 13px #fff, 1536px 975px #fff, 267px 517px #fff, 6px 1299px #fff,
    1100px 82px #fff, 1444px 1105px #fff, 1681px 1847px #fff, 1621px 793px #fff,
    1988px 1483px #fff, 985px 1468px #fff, 871px 1634px #fff, 697px 264px #fff,
    13px 1570px #fff, 1654px 542px #fff, 13px 1607px #fff, 1031px 1701px #fff,
    286px 1378px #fff, 1359px 788px #fff, 52px 618px #fff, 1065px 1467px #fff,
    948px 1525px #fff, 788px 1310px #fff, 1458px 1254px #fff, 1158px 1053px #fff,
    951px 997px #fff, 1220px 657px #fff, 1676px 1627px #fff, 789px 272px #fff,
    913px 1820px #fff, 1049px 1540px #fff, 1218px 679px #fff, 195px 1541px #fff,
    1899px 551px #fff, 1778px 207px #fff, 1242px 298px #fff, 1452px 1451px #fff,
    1248px 354px #fff, 1815px 232px #fff, 48px 1567px #fff, 19px 22px #fff,
    962px 1116px #fff, 1431px 1829px #fff, 962px 573px #fff, 691px 1742px #fff,
    1412px 64px #fff, 1423px 946px #fff, 1452px 516px #fff, 1268px 774px #fff,
    258px 145px #fff, 432px 253px #fff, 739px 71px #fff, 1075px 1335px #fff,
    1698px 156px #fff, 1103px 1042px #fff, 1317px 1990px #fff, 261px 1324px #fff,
    635px 685px #fff, 1043px 456px #fff, 111px 303px #fff, 729px 864px #fff,
    1102px 327px #fff, 377px 1782px #fff, 519px 488px #fff, 304px 1394px #fff,
    686px 1303px #fff;
  animation: animStar 50s linear infinite;
}

#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1250px 1574px #fff, 1894px 1431px #fff, 747px 1430px #fff,
    1795px 754px #fff, 790px 1148px #fff, 1497px 910px #fff, 356px 1002px #fff,
    1754px 307px #fff, 135px 1086px #fff, 537px 1029px #fff, 1075px 1942px #fff,
    1466px 1041px #fff, 9px 623px #fff, 1317px 22px #fff, 667px 441px #fff,
    72px 1123px #fff, 823px 1465px #fff, 1152px 1824px #fff, 560px 1755px #fff,
    1569px 1388px #fff, 1171px 1194px #fff, 1691px 210px #fff, 771px 1010px #fff,
    1719px 1756px #fff, 1283px 646px #fff, 53px 1902px #fff, 871px 266px #fff,
    727px 1095px #fff, 961px 1799px #fff, 1389px 720px #fff, 265px 1385px #fff,
    469px 1360px #fff, 956px 268px #fff, 176px 953px #fff, 1017px 1071px #fff,
    398px 1383px #fff, 893px 277px #fff, 1627px 339px #fff, 1632px 746px #fff,
    1357px 1452px #fff, 1148px 1133px #fff, 1981px 1212px #fff,
    764px 1831px #fff, 1886px 2000px #fff, 409px 1262px #fff, 1884px 1517px #fff,
    1693px 566px #fff, 903px 1150px #fff, 886px 1813px #fff, 116px 1274px #fff,
    1760px 1752px #fff, 703px 1504px #fff, 1060px 1694px #fff, 977px 1648px #fff,
    533px 228px #fff, 1690px 673px #fff, 722px 1853px #fff, 203px 304px #fff,
    1286px 236px #fff, 883px 864px #fff, 119px 907px #fff, 1314px 677px #fff,
    193px 1722px #fff, 132px 1578px #fff, 1639px 1799px #fff, 990px 1103px #fff,
    153px 614px #fff, 1574px 721px #fff, 1397px 1943px #fff, 1936px 267px #fff,
    234px 258px #fff, 1575px 527px #fff, 1958px 1419px #fff, 301px 1981px #fff,
    1884px 348px #fff, 1128px 741px #fff, 1154px 1951px #fff, 1764px 1050px #fff,
    1999px 1711px #fff, 1542px 186px #fff, 1589px 755px #fff, 1436px 1022px #fff,
    1839px 1876px #fff, 1926px 447px #fff, 1694px 1418px #fff,
    1665px 1384px #fff, 190px 1572px #fff, 494px 1705px #fff, 1694px 1699px #fff,
    261px 1049px #fff, 1032px 1414px #fff, 162px 114px #fff, 1626px 780px #fff,
    1193px 1341px #fff, 1684px 653px #fff, 1475px 411px #fff, 730px 1478px #fff,
    1217px 1358px #fff, 1833px 1727px #fff, 324px 1231px #fff,
    1692px 1524px #fff, 911px 622px #fff, 1312px 1218px #fff, 333px 1194px #fff,
    1132px 241px #fff, 1283px 1061px #fff, 434px 526px #fff, 1672px 411px #fff,
    698px 1652px #fff, 982px 1226px #fff, 1991px 1024px #fff, 624px 1422px #fff,
    187px 1263px #fff, 163px 93px #fff, 592px 1122px #fff, 1545px 1831px #fff,
    1329px 1117px #fff, 160px 1221px #fff, 1651px 255px #fff, 1158px 222px #fff,
    112px 1601px #fff, 1921px 1711px #fff, 809px 272px #fff, 1130px 726px #fff,
    1523px 1041px #fff, 999px 442px #fff, 1660px 631px #fff, 190px 1113px #fff,
    1179px 1385px #fff, 1654px 1573px #fff, 1858px 965px #fff,
    1726px 1573px #fff, 606px 1953px #fff, 634px 1719px #fff, 845px 492px #fff,
    1935px 13px #fff, 1536px 975px #fff, 267px 517px #fff, 6px 1299px #fff,
    1100px 82px #fff, 1444px 1105px #fff, 1681px 1847px #fff, 1621px 793px #fff,
    1988px 1483px #fff, 985px 1468px #fff, 871px 1634px #fff, 697px 264px #fff,
    13px 1570px #fff, 1654px 542px #fff, 13px 1607px #fff, 1031px 1701px #fff,
    286px 1378px #fff, 1359px 788px #fff, 52px 618px #fff, 1065px 1467px #fff,
    948px 1525px #fff, 788px 1310px #fff, 1458px 1254px #fff, 1158px 1053px #fff,
    951px 997px #fff, 1220px 657px #fff, 1676px 1627px #fff, 789px 272px #fff,
    913px 1820px #fff, 1049px 1540px #fff, 1218px 679px #fff, 195px 1541px #fff,
    1899px 551px #fff, 1778px 207px #fff, 1242px 298px #fff, 1452px 1451px #fff,
    1248px 354px #fff, 1815px 232px #fff, 48px 1567px #fff, 19px 22px #fff,
    962px 1116px #fff, 1431px 1829px #fff, 962px 573px #fff, 691px 1742px #fff,
    1412px 64px #fff, 1423px 946px #fff, 1452px 516px #fff, 1268px 774px #fff,
    258px 145px #fff, 432px 253px #fff, 739px 71px #fff, 1075px 1335px #fff,
    1698px 156px #fff, 1103px 1042px #fff, 1317px 1990px #fff, 261px 1324px #fff,
    635px 685px #fff, 1043px 456px #fff, 111px 303px #fff, 729px 864px #fff,
    1102px 327px #fff, 377px 1782px #fff, 519px 488px #fff, 304px 1394px #fff,
    686px 1303px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 598px 251px #fff, 732px 1470px #fff, 791px 1872px #fff,
    1831px 1002px #fff, 1259px 1932px #fff, 1804px 1671px #fff,
    1203px 1682px #fff, 45px 1490px #fff, 809px 1287px #fff, 1299px 31px #fff,
    1871px 1972px #fff, 947px 347px #fff, 1541px 1204px #fff, 70px 133px #fff,
    707px 934px #fff, 1722px 1856px #fff, 54px 1744px #fff, 778px 1338px #fff,
    354px 437px #fff, 1407px 737px #fff, 81px 883px #fff, 1120px 505px #fff,
    1060px 844px #fff, 1637px 1516px #fff, 1406px 832px #fff, 1464px 1326px #fff,
    1928px 1742px #fff, 1050px 1953px #fff, 1725px 312px #fff, 129px 748px #fff,
    1677px 480px #fff, 752px 1906px #fff, 1526px 179px #fff, 717px 1341px #fff,
    546px 572px #fff, 1646px 1061px #fff, 1901px 232px #fff, 1px 738px #fff,
    1922px 1036px #fff, 146px 1735px #fff, 1654px 1101px #fff, 1074px 460px #fff,
    970px 1749px #fff, 207px 1413px #fff, 198px 1381px #fff, 1764px 635px #fff,
    1901px 1122px #fff, 617px 1515px #fff, 1891px 1787px #fff, 473px 1330px #fff,
    551px 358px #fff, 795px 665px #fff, 1587px 1713px #fff, 1773px 1596px #fff,
    1190px 1862px #fff, 551px 1738px #fff, 1675px 1396px #fff, 20px 202px #fff,
    377px 1305px #fff, 1518px 954px #fff, 1471px 1089px #fff, 1431px 628px #fff,
    1712px 1252px #fff, 1051px 1059px #fff, 1964px 1851px #fff, 598px 583px #fff,
    1420px 1819px #fff, 637px 1226px #fff, 1995px 1874px #fff,
    1354px 1376px #fff, 1239px 1761px #fff, 1081px 1795px #fff, 675px 432px #fff,
    1265px 1213px #fff, 1061px 103px #fff, 1634px 1030px #fff,
    1735px 1749px #fff, 1410px 740px #fff, 1839px 966px #fff, 1438px 928px #fff;
  animation: animStar 100s linear infinite;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 598px 251px #fff, 732px 1470px #fff, 791px 1872px #fff,
    1831px 1002px #fff, 1259px 1932px #fff, 1804px 1671px #fff,
    1203px 1682px #fff, 45px 1490px #fff, 809px 1287px #fff, 1299px 31px #fff,
    1871px 1972px #fff, 947px 347px #fff, 1541px 1204px #fff, 70px 133px #fff,
    707px 934px #fff, 1722px 1856px #fff, 54px 1744px #fff, 778px 1338px #fff,
    354px 437px #fff, 1407px 737px #fff, 81px 883px #fff, 1120px 505px #fff,
    1060px 844px #fff, 1637px 1516px #fff, 1406px 832px #fff, 1464px 1326px #fff,
    1928px 1742px #fff, 1050px 1953px #fff, 1725px 312px #fff, 129px 748px #fff,
    1677px 480px #fff, 752px 1906px #fff, 1526px 179px #fff, 717px 1341px #fff,
    546px 572px #fff, 1646px 1061px #fff, 1901px 232px #fff, 1px 738px #fff,
    1922px 1036px #fff, 146px 1735px #fff, 1654px 1101px #fff, 1074px 460px #fff,
    970px 1749px #fff, 207px 1413px #fff, 198px 1381px #fff, 1764px 635px #fff,
    1901px 1122px #fff, 617px 1515px #fff, 1891px 1787px #fff, 473px 1330px #fff,
    551px 358px #fff, 795px 665px #fff, 1587px 1713px #fff, 1773px 1596px #fff,
    1190px 1862px #fff, 551px 1738px #fff, 1675px 1396px #fff, 20px 202px #fff,
    377px 1305px #fff, 1518px 954px #fff, 1471px 1089px #fff, 1431px 628px #fff,
    1712px 1252px #fff, 1051px 1059px #fff, 1964px 1851px #fff, 598px 583px #fff,
    1420px 1819px #fff, 637px 1226px #fff, 1995px 1874px #fff,
    1354px 1376px #fff, 1239px 1761px #fff, 1081px 1795px #fff, 675px 432px #fff,
    1265px 1213px #fff, 1061px 103px #fff, 1634px 1030px #fff,
    1735px 1749px #fff, 1410px 740px #fff, 1839px 966px #fff, 1438px 928px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1139px 127px #fff, 15px 373px #fff, 911px 993px #fff,
    518px 779px #fff, 809px 908px #fff, 916px 61px #fff, 1190px 1481px #fff,
    1078px 1052px #fff, 1982px 1459px #fff, 1692px 1349px #fff,
    1325px 1813px #fff, 1762px 344px #fff, 779px 142px #fff, 850px 1278px #fff,
    1526px 224px #fff, 240px 884px #fff, 680px 1383px #fff, 1552px 650px #fff,
    1753px 1396px #fff, 1797px 645px #fff;
  animation: animStar 150s linear infinite;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1139px 127px #fff, 15px 373px #fff, 911px 993px #fff,
    518px 779px #fff, 809px 908px #fff, 916px 61px #fff, 1190px 1481px #fff,
    1078px 1052px #fff, 1982px 1459px #fff, 1692px 1349px #fff,
    1325px 1813px #fff, 1762px 344px #fff, 779px 142px #fff, 850px 1278px #fff,
    1526px 224px #fff, 240px 884px #fff, 680px 1383px #fff, 1552px 650px #fff,
    1753px 1396px #fff, 1797px 645px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-1000px);
  }
}

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "Kanit", sans-serif;
  background-color: #ffffff;
}

.background {
  overflow: hidden;
  height: 100vh;
  background-color: #000104;
} 

.home-container {
  text-align: center;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 40%;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.home-col {
  width: 40%;
  height: 60%;
  letter-spacing: 5px;
  margin: auto auto;
}

.home-col p {
  font-size: 1.2vw;
  padding: 10px;
  margin-bottom: 0;
}

.home-col hr {
  border-top: 1px solid white;
  width: 10%;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.border-white {
  border: 2px solid white;
}

#navbar-container {
  position: absolute;
  right: 0;
  width: 100%;
  max-width: 100%;
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 56px;
  z-index: 10;
}

.nav-row { 
  color: white;
  text-decoration: none;
  font-size: 1em;
}

@keyframes move {
  from { top: -80px;}
  to   { top: 0; }
}

.fade-in-nav {
  background-color: #000104;
  animation: move 1s alternate;
  position: fixed !important;
  background-color: rgba(0, 0, 0, 1);
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.nav-button {
  padding: 0px 10px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size:    100% 2px,
                      2px 100%,
                      100% 2px,
                      2px 100%;
  background-position:    0 0,
                          100% 0,
                          100% 100%,
                          0 100%;
  animation: none;
}

.nav-button:hover {
  background-image: linear-gradient(to right, rgb(255, 255, 255) 100%, rgb(255, 255, 255) 100%),
  linear-gradient(to bottom, rgb(255, 255, 255) 100%, rgb(255, 255, 255) 100%),
  linear-gradient(to right, rgb(255, 255, 255) 100%, rgb(255, 255, 255) 100%),
  linear-gradient(to bottom, rgb(255, 255, 255) 100%, rgb(255, 255, 255) 100%);
  animation: bg 0.25s cubic-bezier(0.19, 1, 0.22, 1) 1;
}

#about-container {
  background-color: white;
}

#about-content-container {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 50px;
  padding: 3%;
}

#about-content-container > div {
  border: 2px solid black;
}

.about-greeting {
  font-size: 2vw;
}

.about-profile {
  font-size: 1vw;
}

.about-padding {
  padding: 0 20px;
}

.skill-level {
  font-size: 1vw;
}

#my-picture {
  max-width: 70%;
  max-height: 70%;
  height: auto;
  width: auto;
}

.step-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.steps {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.step {
  margin: auto 0;
  width: 10%;
  height: 70%;
  background: #fff;
  border: 2px solid #acaca6;
  border-radius: 50%;
  z-index: 3;
}

.step.selected {
  border: 2px solid #000000;
}

.step.completed {
  border: 2px solid #000000;
  background: #000000;
}

.step-progress {
  position: absolute;
  top: 50%;
  margin: 0 0;
  width: 100%;
  height: 10%;
  background-color: #acaca6;
  z-index: 1;
}

.step-progress-front {
  margin: 0 0;
  width: 0%;
  height: 100%;
  background-color: #000000;
  z-index: 2;
}

.step-progress-front {
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s
}

.step-progress-front.beginner {
  width: 0%;
}

.step-progress-front.novice {
  width: 25%;
}

.step-progress-front.expert {
  width: 50%;
}

.step-progress-front.intermediate {
  width: 75%;
}

.step-progress-front.advance {
  width: 100%;
}

@keyframes load{
  from {
    width: 0%
  }
}

#work-container {
  width: 100%;
  padding-right: 80px;
  padding-left: 80px;
  margin-right: auto;
  margin-left: auto;
}

.work-card {
  box-shadow: 0px 15px 20px -8px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  margin-bottom: 50px;
}

.h-45 {
  height: 45% !important;
}

.h-55 {
  height: 55% !important;
}

.col-3-5 {
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
}

.img-card {
  max-width: 100%;
  max-height: 200px;
}

.work-card:hover {
  filter: none;
  transform: scale(1.05, 1.05) rotate(0deg) !important;
  transition: all 0.3s;
  cursor: pointer;
}

.work-card:nth-of-type(1n+0) {
  transform: scale(1, 1);
  transition: all 0.3s;
}

.work-card h2 {
  font-size: 2rem;
}

.pt-6 {
  padding-top: 4rem;
}

.pb-6 {
  padding-bottom: 4rem;
}

.mt-6 {
  margin-top: 4rem;
}

#contact-container {
  width: 100%;
  padding-right: 80px;
  padding-left: 80px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(226, 226, 226);
}

#contact-container p {
  font-size: 1.2em;
}

#footer {
  background-color: #000104;
  color: white;
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
}

.icon {
  max-width: 48px;
  max-height: 48px;
}

.icon:hover {
  cursor: pointer;
}

.icon-big {
  max-width: 80px;
  max-height: 80px;
}

.modalBody {
  max-width: 700px;
  max-height: auto;
}

.closeButton {
  float: right;
  font-size: 2rem;
  font-weight: 700;
  line-height: 0.5;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.modal-header .closeButton {
  position: absolute;
  padding: 0 1rem;
  right: 0px;
}

ul.description {
  padding: 0px 20px 20px 20px;
}

button.closeButton {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.closeButton:hover {
  color: #000;
  text-decoration: none;
}

.closeButton:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
  opacity: .75;
}

.image-gallery-image {
  max-height: 400px !important;
}

@keyframes bg {
  0% {
      background-size:    0 2px,
                          2px 0,
                          0 2px,
                          2px 0;
  }
  25% {
      background-size:    100% 2px,
                          2px 0,
                          0 2px,
                          2px 0;
  }
  50% {
      background-size:    100% 2px,
                          2px 100%,
                          0 2px,
                          2px 0;
  }
  75% {
      background-size:    100% 2px,
                          2px 100%,
                          100% 2px,
                          2px 0;
  }
  100% {
      background-size:    100% 2px,
                          2px 100%,
                          100% 2px,
                          2px 100%;
  }
}

.modal-dialog {
  margin: 10rem auto;
  max-width: 50em;
  max-height: 50em;
}
.modal-dialog-scrollable {
  max-height: calc(100% - 3.5rem);
}
.modal-dialog-scrollable .modal-content {
  max-height: calc(100vh - 3.5rem);
}
.modal-dialog-centered {
  min-height: calc(100% - 3.5rem);
}
.modal-dialog-centered::before {
  height: calc(100vh - 3.5rem);
}

@media (min-width: 1200px) {
  .work-card h2 {
    font-size: 1.5vw;
  }
}

/* If the screen size is 600px wide or less*/
@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }

  .home-col {
    width: 60%;
  }

  .home-col > p {
    font-size: 2vw;
    letter-spacing: 2px;
  }

  #navbar-container {
    padding: 10px 10px;
  }

  #navbar-container .row {
    justify-content: space-evenly !important;
  }

  .closeButton {
    float: right;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 0.5;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
  }
  
  .modal-header .closeButton {
    position: absolute;
    padding: 0 1rem;
    right: 0px;
  }

  .pb-5 {
    padding-bottom: 1rem !important;
  }

  .about-padding {
    padding: 0 10px;
  }

  .about-greeting {
    font-size: 1em;
  }
  
  .about-profile {
    font-size: 0.6em;
  }
}